
body 
    color: white


////////////
// Header //
////////////
header h1
    padding: 4rem 1rem 3rem 2rem
    font-size: 250%
    margin: 0 auto
    background-color: black
    color: white
    text-align: center

img 
    height: 100% 
    object-fit: scale-down
    //border: 1px solid blue

////////////
// NavBar //
////////////
nav 
    background-color: rgb(69,69,69)

nav ul 
    margin: 0
    padding: 1rem 1rem 1rem 5rem

nav li 
    display: inline
    font-size: 2em

nav li a 
    color: white
    text-decoration: none

//////////
// Main //
//////////
main 
    background-color: rgb(29,35,41)

main h1 
    text-align: center
    padding: 4rem 4rem 4rem 4rem

.movieBox 
    display: flex
    padding: 1em
    border: 1px solid gray
    box-shadow: 2px 2px 2px 2px gray

.fas
    cursor: pointer

.fas:hover
    color: blue


////////////
// Footer //
////////////

footer h1
    padding: 2rem 1rem 2.5rem 2rem
    margin: 0 auto
    background-color: black
    color: white
    text-align: center
